<div class="container">
  <p>
    <strong>User:</strong>
    <%= @submission.user.email %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= @submission.title %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @submission.url %>
  </p>

  <% if @submission.content? %>
    <p>
      <strong>Content:</strong>
      <%= @submission.content %>
    </p>
  <% end %>

  <%if @submission.user == current_user %>
    <%= link_to 'Edit', edit_submission_path(@submission) %> |
    <%= link_to 'Delete', @submission, method: :delete, class: "card-link" %> |
  <% end %>
  <%= link_to 'Back', submissions_path %>
</div>
